footer{
    background-image: url(/assets/Paper.jpg);
    padding: 20px 50px;
}
.footerContainer{
    

    h2{
        font-size: 50px;
    }
    p{
        font-size: 20px;

    }
    h2, h3, p{
        color: black;
        
        padding: 0px;
        margin: 0px;
    }
}

.footerMainContainer{
    display: flex;
    justify-content: space-evenly;
    // flex-direction: row-reverse;
}



.footernavList{

}

.footernav {
    // box-shadow: 2px 2px 2px 2px rgba(238,238,238,0.7);
    background-color: transparent;
    

   
.footerContainerWhite{
    // background-color: white;
}
    

  .footernavBar {
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    color: black !important;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    list-style-type: none;
  }


  .footernavBar li:first-child {
    margin-right: auto;
        

 }
  .footernavBar .footerlogo a {
    font-size: 2.5rem;;
    font-weight: bold;

  
  }

  .footernavBar ul li a:hover {
    background-color: blue;
 }
  .footernavbar li:first-child a {
    margin-left: 0px
  ;
 }
// try to consolidate and create cleaner code here... too many .navbars// 

  .footernavList {
    padding: 5px 10px;
    display: inline-block;
    list-style-type: none;
  }
  .footernavBar a{
    color: black;
    background-color: transparent;
    display: block;
    line-height: 0em;
    padding: .5em .5em;
    text-decoration: none;
  }
  .footernavBar :hover{
    opacity: 0.6;
    transition: 0.3s;
  }
 
 
}