@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  font-family: "karla";
}

nav {
  background-color: white;
  margin: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}

nav .navBar {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  list-style-type: none;
}

nav .navBar li:first-child {
  margin-right: auto;
}

nav .navBar .logo a {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Playfair Display";
  text-transform: initial;
}

nav .navBar ul li a:hover {
  background-color: blue;
}

nav .navbar li:first-child a {
  margin-left: 0px;
}

nav .navList {
  padding: 10px 20px;
  display: inline-block;
  list-style-type: none;
}

nav .navBar a {
  color: black;
  background-color: transparent;
  display: block;
  line-height: 1em;
  padding: 20px 20px;
  text-decoration: none;
}

nav .navBar :hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(/assets/ZahraPaliwallaHeadShot.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.headerContainer .headerItemCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.headerContainer .headerImage {
  background-size: cover;
  width: 50vw;
  height: 100vh;
}

.name {
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  font-size: 7rem;
  font-weight: 800;
  color: black;
  margin: 0px;
  font-family: "Playfair Display";
}

h2.title {
  font-size: 2rem;
  font-weight: lighter;
  color: black;
  font-family: "Karla";
  padding-right: 150px;
}

h3 {
  font-size: 5rem;
  font-weight: 700;
  color: black;
  text-align: center;
}

.headerItemCopy {
  width: 50%;
}

.headerItemCopy p {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "karla";
}

.headerItemCopy .header-button {
  padding: 10px 15px;
  height: 40px;
  width: 150px;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #F2AE30;
  text-align: center;
  font-family: "karla";
  font-weight: 900;
}

.headerItemCopy .header-button:hover {
  color: white;
  border: 1px solid white;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerItemCopy .icon {
  display: none;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

li img {
  height: 200px;
  width: 200px;
}

.socialNav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.socialNav li {
  padding-right: 20px;
  padding-top: 10px;
}

.socialNav i {
  color: black;
  font-size: 3rem;
}

.socialNav a {
  color: white;
}

.socialNav i:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.link_wrapper {
  position: relative;
}

.link_wrapper a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.link_wrapper .icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.link_wrapper .icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #2ecc71;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.link_wrapper a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.link_wrapper a:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

.aboutSection {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutSection .aboutItems {
  width: 50vw;
}

.aboutSection .aboutCopysection {
  padding-left: 40px;
}

.aboutSection img {
  width: 50vw;
}

.aboutSection h3 {
  font-size: 4rem;
  text-align: left;
}

.aboutSection p {
  font-size: 2rem;
}

.myWork {
  background-color: white;
  padding: 100px;
}

.myWork .myWork h4 {
  color: black;
  font-size: 4rem;
}

.myWorkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.myWork {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.5);
  border-radius: 10px;
  width: 100%;
}

.myWork h3 {
  padding-top: 40px;
}

.workIcon {
  color: black;
  font-size: 5rem;
  margin-bottom: 20px;
}

.downArrow {
  font-size: 3rem;
  color: rgba(238, 238, 238, 0.8);
  padding-top: 10px;
}

.myWorkContainerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 33%;
  padding: 40px 30px;
  margin: 30px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
}

.myWorkContainerItem:hover {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.5);
  border-radius: 10px;
}

.myWorkContainerItem:hover .downArrow {
  color: black;
}

.myWorkContainerItem h4 {
  font-size: 2.5rem;
}

.myWorkContainerItem p {
  font-size: 1.8rem;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results video {
  width: 200px;
  height: 200px;
}

.results img {
  width: 200px;
  height: 200px;
}

.results .resultsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.results h4 {
  font-size: 2rem;
}

.results p {
  font-size: 1.8rem;
}

.results button {
  border: 1px solid black;
  color: black;
  font-size: 1.8rem;
  background-color: white;
  padding: 5px 10px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery:hover .gallery__image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
}

.gallery__link:hover .gallery__image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
}

.gallery__image {
  display: block;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.productTitle {
  text-align: center;
  padding: 100px;
  font-size: 4.5rem;
  font-family: "Playfair Display";
}

.skillSets {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  margin-top: 0px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.222);
          box-shadow: 5px 5px 5px 5px rgba(238, 238, 238, 0.222);
}

.skillSets li i {
  font-size: 4rem;
  color: #F2AE30;
}

.skillSets li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F2AE30;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
  .headerContainer .headerItemCopy, .headerImage {
    padding-left: 10px;
    padding-right: 0px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .headerItemCopy {
    width: 100%;
  }
  .headerContainer {
    background-image: url(/assets/portoflio-headshot.gif);
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__column {
    width: 100%;
  }
}

.backgroundImage {
  background-image: url(/assets/Plantable-main@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  padding: 200px 200px;
}

.backgroundImage h1 {
  color: black;
}

.backgroundImage h2 {
  text-transform: uppercase;
  color: black;
}

.wrapper1 {
  position: relative;
}

.link_wrapper {
  position: relative;
}

.link_wrapper a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-size: 2rem;
}

.link_wrapper .icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.link_wrapper .icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #F2AE30;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.link_wrapper a:hover {
  width: 200px;
  border: 3px solid #F2AE30;
  background: transparent;
  color: #F2AE30;
}

.link_wrapper a:hover + .icon {
  border: 3px solid #F2AE30;
  right: -25%;
}

.mainSection {
  color: black;
  padding: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainSection h3 {
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
}

.mainSection ol {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 1.8rem;
}

.mainSection p {
  font-size: 1.8rem;
}

.mainSection .plantable-image {
  background-image: url(/assets/plantable.png);
  background-size: cover;
  width: 100%;
}

.mainSection .container {
  width: 100%;
  padding: 20px;
}

.desktop-header-background {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 420px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .mainSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .backgroundImage, .hondaBackgroundImage, .etsyBackgroundImage, .acuraBackgroundImage, .hondaBackgroundImage, .scratchBackgroundImage, .hondaBackgroundImage, .riseBackgroundImage, .tffsbackgroundImage, .tffbackgroundImage, .trilliumBackgroundImage, .mitsuBackgroundImage,
  .tffappBackgroundImage {
    height: 60vh !important;
    padding: 30px 30px !important;
    background-size: cover !important;
  }
  .backgroundImage overla
h1, .hondaBackgroundImage overla
h1, .etsyBackgroundImage overla
h1, .acuraBackgroundImage overla
h1, .hondaBackgroundImage overla
h1, .scratchBackgroundImage overla
h1, .hondaBackgroundImage overla
h1, .riseBackgroundImage overla
h1, .tffsbackgroundImage overla
h1, .tffbackgroundImage overla
h1, .trilliumBackgroundImage overla
h1, .mitsuBackgroundImage overla
h1,
  .tffappBackgroundImage overla
h1 {
    color: white;
  }
  .backgroundImage h2, .hondaBackgroundImage h2, .etsyBackgroundImage h2, .acuraBackgroundImage h2, .hondaBackgroundImage h2, .scratchBackgroundImage h2, .hondaBackgroundImage h2, .riseBackgroundImage h2, .tffsbackgroundImage h2, .tffbackgroundImage h2, .trilliumBackgroundImage h2, .mitsuBackgroundImage h2,
  .tffappBackgroundImage h2 {
    text-transform: uppercase;
    color: white;
  }
  h1 {
    font-size: 40px;
  }
  .mobile-background {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  .mobile-header {
    color: white;
  }
}

footer {
  background-image: url(/assets/Paper.jpg);
  padding: 20px 50px;
}

.footerContainer h2 {
  font-size: 50px;
}

.footerContainer p {
  font-size: 20px;
}

.footerContainer h2, .footerContainer h3, .footerContainer p {
  color: black;
  padding: 0px;
  margin: 0px;
}

.footerMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footernav {
  background-color: transparent;
}

.footernav .footernavBar {
  margin: 0;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: black !important;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  list-style-type: none;
}

.footernav .footernavBar li:first-child {
  margin-right: auto;
}

.footernav .footernavBar .footerlogo a {
  font-size: 2.5rem;
  font-weight: bold;
}

.footernav .footernavBar ul li a:hover {
  background-color: blue;
}

.footernav .footernavbar li:first-child a {
  margin-left: 0px;
}

.footernav .footernavList {
  padding: 5px 10px;
  display: inline-block;
  list-style-type: none;
}

.footernav .footernavBar a {
  color: black;
  background-color: transparent;
  display: block;
  line-height: 0em;
  padding: .5em .5em;
  text-decoration: none;
}

.footernav .footernavBar :hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topnav {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .desktop-nav {
    display: none;
  }
  .icon {
    display: none;
  }
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: block;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav .mobilelogo {
    font-family: "Playfair";
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
  }
}
